{% extends "base.html" %}

{% block head_title %}Restaurants || {{ block.super }}{% endblock %}

{% block content %}

<h1>Restaurant List</h1>

    <ul></ul>
    {% for obj in object_list %}
        <li>
            <a href="{{ obj.get_absolute_url }}"> {{ obj }} </a><br/>
            <small>{{ obj.name }} {{ obj.location }} {{ obj.category }} {{ obj.timestamp }} {{ obj.updated }}</small> </li>

    {% endfor %}

{% endblock %}

{# Other ways of getting URL #}

{#<a href="{% url 'restaurant-detail' slug=obj.slug %}"> {{ obj }} </a><br/>#}
{#<a href="{{ obj.get_absolute_url }}"> {{ obj }} </a><br/>#}
{#<a href="/restaurants/{{ obj.slug }}/"> {{ obj }} </a><br/>#}
